*.class
.idea
.settings
target
*.imp
*.ans
*.jar
*.data
out
.project
.DS_Store
.classpath
*.iml
*.rdb
tapkee_nle_server
CMakeCache.txt
CMakeFiles/
bin
.tmpdata/
*.txt
ProcessedDoc/
Test/
*.xml
*.uml
coarse-all-words.dtd
config.zip
config/
data/getty.properties
dbnary/
depall
deps
en/
experiments/Semeval2013T13/
experiments/TranslationClosures/
experiments/scorer.pl
fr/
fr2/
fr_from_en/
fr_translated/
frfun/
frfun2/
frfun4/
graphy/
netstats
org.getalp.lexsema-examples/src/main/java/org/getalp/lexsema/examples/points/compte rendu
org.getalp.lexsema-examples/src/main/java/org/getalp/lexsema/examples/points/data.txt
org.getalp.lexsema-translation/credentials
*.tsv
resources/
ru/
scorer2
sense_clusters-21.senses
*.csv
target_en2/
target_fr/