<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Lexsema</display-name>

	<servlet>
		<servlet-name>NIFWebService</servlet-name>
		<servlet-class>org.getalp.lexsema.ws.nif.NIFWebService</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>HTMLAnnotator</servlet-name>
		<servlet-class>org.getalp.lexsema.ws.html.HTMLAnnotator</servlet-class>
	</servlet>

    <servlet>
        <servlet-name>Word2VecWebService</servlet-name>
        <servlet-class>org.getalp.lexsema.ws.w2v.Word2VecWebService</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>WSDForSMTWebService</servlet-name>
        <servlet-class>org.getalp.lexsema.ws.wsdforsmt.WSDForSMTWebService</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>NIFWebService</servlet-name>
		<url-pattern>/nifwebservice</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>HTMLAnnotator</servlet-name>
        <url-pattern>/htmlannotator</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Word2VecWebService</servlet-name>
        <url-pattern>/w2vservice</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WSDForSMTWebService</servlet-name>
        <url-pattern>/wsdforsmtservice</url-pattern>
    </servlet-mapping>
</web-app>
